# Dataset (large files — keep out of git)
dataset/
data/
*.nii
*.nii.gz
*.dcm

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Model weights & checkpoints
*.pt
*.pth
*.ckpt
*.h5
*.pkl
runs/
outputs/

# Keep checkpoints folder but ignore model weights
checkpoints/*.pth
checkpoints/*.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
